<p-card class="form-info">
  <form [formGroup]="form">
    <div class="field">
      <label for="amount" class="block">Valid Amount</label>
      <input
        class="form-control"
        id="amount"
        data-test="amount"
        type="username"
        formControlName="amount"
        aria-describedby="ValidAmount-help"
        pKeyFilter="int"
        pInputText
      />
      <!-- <small id="ValidAmount-help" class="p-error block"
        >Amount is not available.</small
      > -->
    </div>
    <div class="field">
      <label for="icon">Icon</label>
      <p-calendar
        class="form-control"
        formControlName="date"
        [minDate]="minDay"
        [maxDate]="maxDay"
        [showIcon]="true"
        inputId="icon"
      ></p-calendar>
    </div>
    <div class="field">
      <label>Status </label>
      <div class="form-control">
        <p-dropdown
          [options]="options"
          formControlName="status"
          optionLabel="name"
          placeholder="Select Status"
        >
          <ng-template let-stat pTemplate="item">
            <div>{{ stat.name }}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="field">
      <label for="SourceOfFund" class="block">Source of fund </label>
      <input
        class="form-control"
        id="SourceOfFund"
        type="username"
        formControlName="SourceOfFund"
        aria-describedby="SourceOfFund-help"
        pKeyFilter="alpha"
        pInputText
      />
      <!-- <small id="SourceOfFund-help" class="p-error block"
        >SourceOfFund is not available.</small
      > -->
    </div>
  </form>
</p-card>
