<div class="home">
  <div class="stepper">
    <p-steps [model]="stepsModel" [activeIndex]="activeIndex"></p-steps>
  </div>
  <div class="stepper-content">
    <ng-container [ngSwitch]="activeIndex">
      <div *ngSwitchCase="0">
        <app-step-image-upload [form]="form"></app-step-image-upload>
      </div>
      <div *ngSwitchCase="1">
        <app-step-from-info [form]="form"></app-step-from-info>
      </div>
      <div *ngSwitchCase="2">
        <app-step-table [form]="form"></app-step-table>
      </div>
      <div *ngSwitchCase="3">
        <app-step-from-result [form]="form"></app-step-from-result>
      </div>
      <div *ngSwitchDefault>no such component</div>
    </ng-container>
  </div>
  <div class="stepper-action">
    <p-button (click)="PreveiousStep()">Previous step</p-button>
    <p-button (click)="nextStep()">next step</p-button>
  </div>
</div>
