.home{
  .stepper{
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  .stepper-content{
    margin-top: 15px;
  }
  .stepper-action{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
